{
  "extends": [
    "taro/react"
  ],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "import/no-commonjs": "off",
    "jsx-quotes": "off"
  },
  // 定义全局变量
  "globals": {
    "defineAppConfig": "readonly",
    "definePageConfig": "readonly"
  }
}
